{% extends "blog/fundamental.html" %}
{% block content %}
	{% for new in news %}
		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ new.author.profile.image.url }}">
			<div class="media-body">
				<div class="article-metadata">
					<a class="mr-2" href="#">{{ new.author }}</a>
					<small class="text-muted">{{ new.date_posted|date:"E d, Y" }}</small>
				</div>
				<h2><a class="article-title" href="#">{{ new.title }}</a></h2>
				<p class="article-content">{{ new.content }}</p>
			</div>
		</article>
	{% endfor %}
{% endblock content%}
